!!!
%html{:lang => "en"}
  %head
    %title filtercake
    %meta{:content => "I make better laser sounds than you.", :name => "description"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, maximum-scale=1", :name => "viewport"}/
    / Kills text zoom in iOS. Media Queries manage font sizes
    %link{:href => "css/screen.css?v=2", :rel => "stylesheet"}/



  %body

    %a.square#briefkasten{:href => "#"}
      %div
        %img{:src => "img/oranger-kasten-filtered.jpg"}/

    .category
      %h2
        Hi. I am filtercake.
        %br
        %br
        I make better laser sounds than you.
      


    .title
      %div
        %h1 You can find me here:
        %p.social
          %small
            %a{:href => "https://twitter.com/filtercake"}
              Twitter
            &nbsp;
            %a{:href => "http://filtercake.tumblr.com/"}
              Tumblr
            &nbsp;
            %a{:href => "https://github.com/filtercake"}
              Github
            &nbsp;
            %a{:href => "https://www.xing.com/profile/Fabian_Fabian5"}
              Xing
            &nbsp;
            %a{:href => "http://www.mixcloud.com/filtercake/"}
              LinkedIn
    
    .category.lfcr
      %h2
        And here is some stuff made or helped making:

    %a.square{:href => "http://www.meetup.com/hacktable/"}
      %div
        %h3 Hacktable
        %p We meet, be baustel, we have a beer. Sometimes there is some kind of session.
        %small meetup.com/hacktable
        %img{:src => "img/hacktable-logo-draft01.png"}/

    %a.square{:href => "http://uxcamphh.de/"}
      %div
        %h3 UX Camp Hamburg
        %p A barcamp on User Experience, Information Architecture, and the like.
        %small uxcamphh.de
        %img{:src => "img/uxcampplanning.jpeg"}/

    %a.square{:href => "http://agiledesigncamp.org/"}
      %div
        %h3 agile design camp
        %p A barcamp on Design in the agile context. Also did most of the site.
        %small agiledesigncamp.org
        %img{:src => "img/adc01.jpg"}/

    %a.square{:href => "http://makersdeck.com/"}
      %div
        %h3 Maker's Deck
        %p Documenting the maker scene and its projects, one trading card at a time. Also did the site.
        %small makersdeck.com
        %img{:src => "img/mk-avatar.jpg"}/

    %a.square{:href => "http://vortexsurfing.tumblr.com"}
      %div
        %h3 Vortex Surfing
        %p A tumblr I "curate". It is about that revolution which is happening right under your butt while you wonder how to get more free apps.
        %small vortexsurfing.tumblr.com

    %a.square{:href => "http://c3s.cc/"}
      %div
        %h3 C3S
        %p The Culture Commons Collecting Society. Building an alternative to the GEMA-monopole. Helped to break down the massive background info into a digestible site. Did the site.
        %small c3s.cc
        %img{:src => "img/c3s-logo.png"}/

    %a.square{:href => "http://nowherenow.eu/"}
      %div
        %h3 Nowherenow
        %p A shortfilm I did Production and Package Design for.
        %small nowherenow.eu
        %img{:src => "img/nwn1.jpg"}/

    %a.square{:href => "http://www.mixcloud.com/filtercake/"}
      %div
        %h3 Misanthropen disco
        %p A series of dark electronic mixtapes.
        %small mixcloud.com/filtercake
        %img{:src => "img/misdisco.jpg"}/

    %a.square{:href => "http://railsgirls.com/hamburg"}
      %div
        %h3 Rails Girls Hamburg
        %p Did the sketch. Nyan cat approved.
        %small railsgirls.com/hamburg
        %img{:src => "img/rg-hh.png"}/

    %a.square{:href => "http://mindmatters.co.uk"}
      %div
        %h3 mindmatters uk
        %p Site co-concept, design and development. Has been heavily changed by the client since, though.
        %small mindmatters.co.uk
        %img{:src => "img/mmcouk.jpg"}/

          
%script{:src => "scripts/css3-mediaqueries.js"}
%script{:src => "scripts/ga.js"}